.home.bg-banner-home:after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(18, 17, 26, 0.7),
    rgba(18, 17, 26, 1)
  );

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.h-banner .slick-next:before,
.h-banner .slick-prev:before {
  content: none;
}
.h-banner .slick-prev,
.h-banner .slick-next {
  width: fit-content;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  bottom: 0;
  left: 0;
  top: unset;
  transform: unset;
  z-index: 999;
  transition: 0.3s;
}
.h-banner .slick-next {
  left: 147px;
}
.h-banner .slick-list {
  padding-bottom: 50px;
}
.h-banner .slick-list:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 8px;
  width: 96px;
  height: 1px;
  left: 47px;
  z-index: 9;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: rgba(255, 255, 255, 0.9);
  background: transparent;
  font-weight: 400;
}
.km-ct .slick-slide > div {
  margin: 0 10px;
}
.km-ct .slick-list {
  margin: 0 -10px;
}

.tn-avatar:first-child {
  max-width: 433px;
  width: 100%;
  
}
