.menu ul li a {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.52px;
  display: inline-block;
  color: #fff;
  margin-bottom: 32px;
}
.menu li.menu-ft-0 a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  color: #e5af11;
}

.bg-footer-texture:before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 75%;
}
