@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .my-custom-style {
    @apply rounded-[44px] w-full bg-transparent
     border-yellow border-[1px] py-4 pl-[27px] 
     bg-icon-search bg-no-repeat bg-[96%];
  }
  .custom-text-bn-home {
    @apply text-[40px] font-extrabold leading-10 text-yellow;
  }
  .custom-hd-active {
    @apply text-yellow;
  }
}
p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}
